/bin
C:Userss4bave00OneDrive - OSAOVisual StudioNäyttötyö-peliNäyttötyö-peliobj
C:Userss4bave00Ccliker-PeliNäyttötyö-peliNäyttötyö-peliobj
/c/Users/s4bave00/Cclicker-Peli/Näyttötyö-peli/Näyttötyö-peli/obj
/c/Users/s4bave00/Ccliker-Peli/Näyttötyö-peli/Näyttötyö-peli/obj
